
:root{
    --primary: #61988E
    --secondary: #61988E
    --tertiary: #94778B
    --quaternary:#94778B
    --white:#F4FAFF
  
  }
.Header{
    align-items: center;
    text-align: center;
    color: #61988E;
    font-size: 7rem;
    padding-bottom: 5%;
}
