/* BecomeTasker.css */

body {
  font-family: Arial, sans-serif; /* Change the font for the whole page */
  color: #333; /* Set the font color */
}

.Header {
  text-align: center;
  margin-top: 10px;
  font-size: 2em; /* Adjust font size */
}

.form-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input,
.form-group select,
.form-group textarea {
  width: calc(100% - 22px);
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 1em; /* Adjust font size */
}

.form-button {
  padding: 12px 24px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 1em; /* Adjust font size */
}

.form-button + .form-button {
  margin-left: 10px;
}

.cover {
  position: relative;
  width: 100%;
  height: 30vh; /* Adjusted to cover 30% of the screen height */
  overflow: hidden;
  z-index: -1;
}

.cover .hamburger {
  position: absolute;
  top: 20px; /* Adjust top position as needed */
  left: 20px; /* Adjust left position as needed */
  z-index: -1; /* Ensure the hamburger menu appears above the cover image */
  color: white; /* Adjust color as needed */
  font-size: 2rem; /* Adjust font size as needed */
}

.cover-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1; /* Ensure the cover image appears below the hamburger menu */
}

.cover-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px 20px;
  border-radius: 5px;
}

/* Popup Styles */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0);
  z-index: 9999; /* Ensure it's on top of everything */
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: #fefefe;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.close-button:hover {
  color: #aaa;
}

.popup p {
  margin: 0;
}

