/* Global Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #a1c4fd, #c2e9fb); /* Horizontal light to dark */
  color: #333333;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Hero Section Styles */
.hero {
  padding: 100px 0;
  text-align: center;
  background: linear-gradient(to right, #a1c4fd, #c2e9fb); /* Horizontal light to dark */
}

.hero-header {
  font-size: 3em;
  color: #000000;
  margin-bottom: 20px;
}

.hero-subheader {
  font-size: 1.5em;
  color: #00000096;
}

/* Services Section Styles */
.services {
  padding: 80px 0;
  background: linear-gradient(to bottom, #a1c4fd, #c2e9fb); /* Vertical light to dark */
}

.section-header {
  font-size: 3.5em;
  text-align: center;
  margin-bottom: 40px;
  color: #000000;
}

.services-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.service-tile {
  width: 200px;
  margin: 20px;
  text-align: center;
  background: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 10px;
  transition: transform 0.3s ease, background 0.3s ease;
}

.service-tile:hover {
  transform: scale(1.05);
  background: rgba(255, 255, 255, 0.3);
}

.service-tile img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(108, 108, 108, 0.1);
}

.service-name {
  font-size: 1.2em;
  margin-top: 10px;
  color: #333333;
}

/* About Us Section Styles */
.about-us {
  padding: 80px 0;
  background: linear-gradient(to right, #a1c4fd, #c2e9fb); /* Horizontal light to dark */
}

.about-us-content {
  font-size: 1.2em;
  line-height: 1.6;
  text-align: center;
  color: #333333;
}

/* Testimonials Section Styles */
.testimonials {
  padding: 80px 0;
  text-align: center;
  background: linear-gradient(to bottom, #a1c4fd, #c2e9fb); /* Vertical light to dark */
  color: #333333;
}

.testimonial {
  margin-bottom: 40px;
}

.testimonial-content {
  font-size: 1.2em;
  margin-bottom: 10px;
  color: #000000a7;
}

.testimonial-author {
  font-size: 1em;
  color: #0000006f;
}

/* Call to Action Section Styles */
.call-to-action {
  padding: 80px 0;
  text-align: center;
  background: linear-gradient(to right, #a1c4fd, #c2e9fb); /* Horizontal light to dark */
  color: #0000009c;
}

.call-to-action-content {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.cta-button {
  padding: 15px 30px;
  font-size: 1.2em;
  background-color: #000000;
  color: #fdfeff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.cta-button:hover {
  background-color: #5d8ea4;
}


.info-content {
  margin-bottom: 20px; /* Add some bottom margin for spacing between paragraphs */
  font-size: 1.1rem; /* Adjust font size as needed */
  line-height: 1.6; /* Adjust line height for better readability */
  padding: 20px;
  text-align: center;
  color: #333333;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .navbar {
      padding: 10px;
  }

  .navbar-brand {
      font-size: 1.2em;
  }

  .hero-header {
      font-size: 2.5em;
  }

  .hero-subheader {
      font-size: 1.2em;
  }

  .service-tile {
      width: 150px;
  }
}

@media screen and (max-width: 576px) {
  .hero-header {
      font-size: 2em;
  }

  .hero-subheader {
      font-size: 1em;
  }

  .section-header {
      font-size: 1.5em;
  }

  .services-container {
      justify-content: flex-start;
  }

  .service-tile {
      width: 100%;
      margin: 10px 0;
  }
}
