.signup-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    animation: fadeIn 1s ease-in-out;
}

.sup{
    padding: 30px;
}

.signup-header {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}

.signup-form {
    display: grid;
    gap: 10px;
}

.form-group {
    display: grid;
    gap: 5px;
}

.form-group label {
    font-weight: bold;
}

.form-group input {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.form-group .form-button {
    padding: 8px 12px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 3px;
}

.form-group .form-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.form-group .add-address-button {
    padding: 8px 12px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    background-color: #28a745;
    color: #fff;
    border-radius: 3px;
    width: 40px;
    text-align: center;
}

.address-cards {
    margin-top: 10px;
}

.address-card {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.popup-message {
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    border-radius: 5px;
    background-color: #f2dede; /* Example background color for error message */
    color: #a94442; /* Example text color for error message */
}

.button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    margin-top: 10px;
    margin-right: 10px;
}

.button-primary {
    background-color: #007bff;
    color: #fff;
}

.button-primary:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.button-success {
    background-color: #28a745;
    color: #fff;
}

.button-success:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.button-secondary {
    background-color: #6c757d;
    color: #fff;
}

.button-secondary:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
