.booking-history-container {
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  max-height: 60vh; /* Adjust the height as needed */
  overflow-y: auto; /* Add vertical scrollbar if content exceeds max-height */
  padding-right: 10px; /* Prevent content from being hidden behind the scrollbar */
}

.booking-card {
  position: relative;
  border: 1px solid #ddd;
  background-color: whitesmoke;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.booking-card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.status-indicator {
  position: relative;
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  cursor: pointer;
}

/* Tooltip styling */
.status-tooltip {
  visibility: hidden;
  position: absolute;
  top: 20px; /* Adjust position as needed */
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 4px;
  font-size: 12px;
  white-space: nowrap;
  z-index: 10;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.status-indicator:hover .status-tooltip {
  visibility: visible;
  opacity: 1;
}

.booking-details {
  margin-left: 20px;
}
